@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Cześć @Model.Name</h1>
    <div class="container">
        <form method="post" class="form-inline">
            <div class="form-group">
                <label asp-for="FizzBuzz.Number"></label><br>
                <input asp-for="FizzBuzz.Number" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FizzBuzz.Firstname"></label><br>
                <input asp-for="FizzBuzz.Firstname" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary my-2">Zatwierdź</button><br><br>         
            <span asp-validation-for="FizzBuzz.Number" class="text-success"></span><br>
            <span asp-validation-for="FizzBuzz.Firstname" class="text-success"></span>
        </form>
    </div>
</div>
